<app-sub-nav [pageTitle]="'page02.TITLE' | translate"></app-sub-nav>
<div class="title first">「内分泌科」からの募集</div>
<p class="p-content"><br>2017年6月1日(金) 〜 2017年7月31日(日)
  のシフト希望を募集します。2017年5月1日(金) 19:00 までに提出してください。<br><br>
  6月10日は監査が入りますので、担当者は出勤をお願いします。<br>
  6月20日は創立祭のため、やむを得ない場合以外はなるべく出勤をお願いします。<br>
  また、全国呼吸器内科学会へ登壇・参加される方は記載してください。 <span style="color: #3D7FB7;">... もっと読む</span><br></p>
<span class="title">希望休</span>
<p><br>希望日を入力してください。希望日がお休みにならない場合もございます。</p>
<div class="forn-group">
  <div class="form-group">
    <input type="text" class="form-control input-date first" value="2017/06/01">
    <select class="form-control input-date second ">
      <option>種別を選択</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <select class="form-control input-date third ">
      <option>終日</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <span>理由</span>
    <input type="text" class="form-control input-date fourth" placeholder="100文字以内">
    <span class="icon-remove"><i class="fa fa-times" aria-hidden="true"></i></span>
    <br><span class="title-label">0/100</span>
  </div>
</div>
<div class="forn-group">
  <div class="form-group">
    <input type="text" class="form-control input-date first" value="2017/06/01">
    <select class="form-control input-date second ">
      <option>種別を選択</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <select class="form-control input-date third ">
      <option>終日</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <span>理由</span>
    <input type="text" class="form-control input-date fourth" placeholder="100文字以内">
    <span class="icon-remove"><i class="fa fa-times" aria-hidden="true"></i></span>
    <br><span class="title-label">0/100</span>
  </div>
</div>
<div class="forn-group">
  <div class="form-group">
    <input type="text" class="form-control input-date first" value="2017/06/01">
    <select class="form-control input-date second ">
      <option>種別を選択</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <select class="form-control input-date third ">
      <option>終日</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <span>理由</span>
    <input type="text" class="form-control input-date fourth" placeholder="100文字以内">
    <span class="icon-remove"><i class="fa fa-times" aria-hidden="true"></i></span>
    <br><span class="title-label">0/100</span>
  </div>
</div>
<div class="form-group">
  <button style="border: 0;background-color: #fff"><i class="fa fa-plus-square fa-2x"
                                                      style="margin-left: -7px;color: #A6A6A6"></i><span
    style="color: #3D7FB7;margin-left: 10px;margin-bottom: 10px">追加</span></button>
</div>
<div class="title">夜勤NG</div>
<p class="p-content"><br>当直に入れない日を入力してください。理由も併せてご記入ください。承認されない場合もございます。</p>
<div class="forn-group">
  <div class="form-group">
    <input type="text" class="form-control input-date first" value="2017/06/01">
    <select class="form-control input-date second ">
      <option>種別を選択</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <span style="padding-left: 20px">理由・その他の場合<span style="color: red">※</span></span>
    <input type="text" class="form-control input-date fifth" placeholder="100文字以内">
    <span class="icon-remove"><i class="fa fa-times" aria-hidden="true"></i></span>
    <br><span class="title-label label1">0/100</span>
  </div>
</div>
<div class="form-group">
  <button style="border: 0;background-color: #fff"><i class="fa fa-plus-square fa-2x"
                                                      style="margin-left: -7px;color: #A6A6A6"></i><span
    style="color: #3D7FB7;margin-left: 10px;margin-bottom: 10px">追加</span></button>
</div>
<div class="title">夜勤NG</div>
<p class="p-content"><br>当直希望日がありましたら入力してください。希望日が当直にならない場合もございます。</p>
<input type="text" class="form-control input-date first" value="2017/06/01">
<span class="icon-remove"><i class="fa fa-times" aria-hidden="true"></i></span>
<div class="form-group">
  <br>
  <button style="border: 0;background-color: #fff"><i class="fa fa-plus-square fa-2x"
                                                      style="margin-left: -7px;color: #A6A6A6"></i><span
    style="color: #3D7FB7;margin-left: 10px;margin-bottom: 10px">追加</span></button>
</div>
<div class="title">外勤予定</div>
<p class="p-content"><br>すでに決まっている外勤予定がありましたら入力してください。その他を選択した場合は、備考欄に外勤先をご記入ください。</p>
<div class="form-group">
  <input type="text" class="form-control input-date first" style="margin-right: 20px"
         value="2017/06/01">
  <div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" class="custom-control-input" id="defaultInline1" checked disabled>
    <label class="custom-control-label color-checkbox" for="defaultInline1">終日</label>
  </div>
  <!-- Default inline 2-->
  <div class="custom-control custom-checkbox custom-control-inline ">
    <input type="checkbox" class="custom-control-input" id="defaultInline2" checked disabled>
    <label class="custom-control-label color-checkbox blur" for="defaultInline2">午前</label>
  </div>

  <!-- Default inline 3-->
  <div class="custom-control custom-checkbox custom-control-inline ">
    <input type="checkbox" class="custom-control-input" id="defaultInline3" checked disabled>
    <label class="custom-control-label color-checkbox blur" for="defaultInline3">午後</label>
  </div>
  <div class="custom-control custom-checkbox custom-control-inline ">
    <input type="checkbox" class="custom-control-input " id="defaultInline4" checked disabled>
    <label class="custom-control-label color-checkbox blur" for="defaultInline4">夜間</label>
  </div>
  <select class="form-control input-date second ">
    <option>外勤先を選択</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
  <span style="margin-left: 10px">理由</span>
  <input type="text" class="form-control input-date sixth" placeholder="100文字以内">
  <span class="icon-remove"><i class="fa fa-times" aria-hidden="true"></i></span>
  <br><span class="title-label label2">0/100</span>
  <div class="form-group">
    <br>
    <button style="border: 0;background-color: #fff"><i class="fa fa-plus-square fa-2x"
                                                        style="margin-left: -7px;color: #A6A6A6"></i><span
      style="color: #3D7FB7;margin-left: 10px;margin-bottom: 10px">追加</span></button>
  </div>
  <div class="title">その他の予定 (学会、研修等)</div>
  <p class="p-content"><br>すでに決まっている学会や研修等がありましたら入力してください。名称/場所/時間帯も併せてご記入ください。</p>
  <div class="form-group">
    <input type="text" class="form-control input-date first" value="2017/06/01">
    <select class="form-control input-date third " style="margin-left: 10px">
      <option>終日</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <span style="font-size: 18px;margin-right: 5px">~</span>
    <input type="text" class="form-control input-date second" value="2017/06/01">
    <select class="form-control input-date third " style="margin-left: 10px">
      <option>終日</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
    <span style="margin: 0px 15px">名称/場所/時間帯等<span style="color: red">※</span></span>
    <input type="text" class="form-control input-date sixth" placeholder="100文字以内">
    <span class="icon-remove"><i class="fa fa-times" aria-hidden="true"></i></span>
    <br><span class="title-label label2">0/100</span>
  </div>
  <div class="form-group">
    <button style="border: 0;background-color: #fff"><i class="fa fa-plus-square fa-2x"
                                                        style="margin-left: -7px;color: #A6A6A6"></i><span
      style="color: #3D7FB7;margin-left: 10px;margin-bottom: 10px">追加</span></button>
  </div>
  <p>※募集内容に変更が生じた場合、再度募集がかかることがございます。<br>
    ※締切３日前と、締切当日の朝7:00に未提出のスタッフ宛にリマインドメールと通知が送信されます。<br>
    ※提出したあとも、提出期限前であれば編集・再提出できます。</p>
  <button type="submit" class="btn btn-custom1">提出</button>
</div>
