<!--The content below is only a placeholder and can be replaced.-->
<app-header-layout></app-header-layout>
<div class="container-fluid">
  <div class="row">
    <div class="col col-3" id="side-bar">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col col-9" id="right-content">
      <div class="row">
        <div class="col col-12">
          <!--<app-sub-nav routerLink="/page02" inputTitle="the title"></app-sub-nav>-->
          <router-outlet></router-outlet>
          <!--<a routerLink="/page01" routerLinkActive="active">Heroes</a>-->
          <!--<app-sub-nav [inputTitle]="createTitle()"></app-sub-nav>-->
        </div>
      </div>
    </div>
  </div>
</div>
