@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";


$font-meiryo:'Meiryo-Bold';
$border-white: 1px solid $white;
$text-color : #777777;
$p-color: #333333;
$text-size: .875rem;
$text-size-sm: .75rem;
$border-white-color: #F5F5F5;
$btn-font-size : .84375rem