body{
  font-family: $font-meiryo ;
}
.main-nav {
  background-color: #F18D00;
  height: 50px;
  font-size: 1rem;
  position: fixed;
  z-index: 1000;
  width: 100%;
  i {
    color: $white;
    /*vertical-align: bottom;*/
  }
  a {
    margin-left: 0px;
    color: $white;
  }

  .nav-first {
    color: $black;
  }
}

.nav-item .fa-stack {
  padding-top: 4px;
}

/*.nav-item i{*/
/*color: #fff;*/
/*}*/

.navbar-nav .dropdown-item {
  color: $black;
}

.nav-item .nav-text {
  color: $white;
  vertical-align: bottom;
  font-size: $text-size;
  /*padding: 0px;*/
  margin: 12px 0px 0px 2px;
}

.nav-small {
  font-size: .75rem;
}

.nav-item .nav-border {
  border: $border-white;
  border-radius: .1875rem;
  padding: 3px 8px 0px 8px;
  color: $white;
  margin: 8px 0px 0px 10px;
  font-size: $text-size;
  /*margin-left: 10px;*/
}

/*.sidebar{*/
/*height: 100%;*/
/*width: 160px;*/
/*position: fixed;*/
/*z-index: 1;*/
/*top: 0;*/
/*left: 0;*/
/*background-color: #fff;*/
/*overflow-x: hidden;*/
/*padding-top: 20px;*/
/*}*/

.row {
  padding-left: 10px;
}

.text-name {
  color: $text-color;
}

.avatar {
  margin-left: -15px;
  display: flex;
  /*vertical-align: middle;*/
  .description {
    margin: 40px 0px 0px 5px;
  }
}

.search {
  padding-bottom: 20px;
  //width: 310px;
}

.menu-content a {
  color: $black;
  text-decoration: none;
}

.dropdown-item {
  width: 100%;
}

/*.dropdown-toggle:after {*/
/*border: none;*/
/*}*/

.menu-content {
  //width: 310px;
  border: $border-white;
}

.nav-side-menu {
  .toggle-btn {
    display: none;
  }
  ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    color: $text-color;
  }
  ul :not(collapsed) .arrow:before, li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
    color: $text-color;
  }
  ul .active, li .active {
    border-left: 1px solid $border-white-color;
    background-color: #FFFEFC;
  }
  ul .sub-menu li.active, li .sub-menu li.active {
    color: #d19b3d;
  }
  ul .sub-menu li.active a, li .sub-menu li.active a {
    color: #000;
  }
  ul .sub-menu li, li .sub-menu li {
    background-color: #FFFEFC;
    border: none;
    line-height: 28px;
    border-bottom: 2px solid $border-white-color;
    border-right: 1px solid $border-white-color;
    border-left: 2px solid $border-white-color;
    margin-left: 0px;
  }
  ul .sub-menu li:before {
    font-family: FontAwesome;
    /*content: "\f105";*/
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
  }
  li {
    .sub-menu li:before {
      font-family: FontAwesome;
      /*content: "\f105";*/
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px;
      vertical-align: middle;
    }
    padding-left: 0px;
    border-left: 3px solid $border-white-color;
    border-bottom: 2px solid $border-white-color;
    border-right: 1px solid $border-white-color;
    color: $text-color;
    a {
      text-decoration: none;
      color: $text-color;
      i {
        padding-left: 10px;
        width: 20px;
        padding-right: 20px;
        color: $text-color;
      }
    }
  }
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

.sub-menu {
  a {
    margin-left: 50px;
    font-size: $text-size;
  }
  .item-icon {
    a {
      margin-left: 20px;
      opacity: 0.5;
    }
    i {
      opacity: 0.5;
    }
  }
  .blur {
    a, i {
      opacity: 0.3;
    }
  }
}

.blur {
  opacity: 0.5;
}
#side-bar{
  position: fixed;
  top: 50px;
  z-index: 1;
  margin-right: 20px;
}
#right-content{
  position: absolute;
  right: 0px;
  padding-left: 30px;
  margin: 75px 10px 10px -20px;
  color: #777777;
  font-size: 0.75rem;
}
.nav-side-menu {
  margin-top: 20px;
  /*overflow: auto;*/
  font-weight: 200;
  //position: fixed;
  //width: 320px;
  height: 100%;
  .item-border {
    border-bottom: 1px solid #7070708f;
  }
  .item-no-border {
    border-bottom: $border-white;
  }
  ul li {
    .unread {
      float: right;
      margin: 6px 0px 0px 0px;
      padding: 0px 0px 20px 5px;
      background-color: #F18D00;
      width: 36px;
      height: 25px;
      border-radius: 5px;
      color: $white;
      font-size: 0.73125rem;
      /*text-align: center;*/
      vertical-align: top;
    }
    .icon-add {
      float: right;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}

.menu-list {
  margin-top: -15px;
  max-height: 25rem;
  overflow-y: auto;
}

.right-content {
  height: 50px;
  /*width: 903px;*/
  margin: 75px 10px 10px -20px;
  font-size: $text-size-sm;
  color: $text-color;
}

.back {
  margin-bottom: 40px;
}

.back-icon {
  background-color: #EEEEEE;
  padding: 15px 15px 10px 15px;
  i {
    color: #3D7FB7;
    font-size: 1.265625rem;
    cursor: pointer;
  }
}

.pageTitle {
  font-size: 1.3125rem;
  text-align: center;
  padding-left: 350px;
  color: $black;
}

.span-time {
  font-size: $text-size-sm;
  /*margin-right: 5px;*/
}

.input-date {
  display: inline;
  width: 90px;
  height: 32px;
  margin: 0px 5px;
  font-size: $text-size-sm;
  &.first {
    margin: 0px 5px 0px 0px;
  }
}

select.form-control:not([size]):not([multiple]).input-date {
  &.second {
    height: 32px;
    width: 120px;
    font-size: 0.73125rem;
    padding-left: 3px;
  }
  &.third {
    height: 32px;
    width: 60px;
    margin-right: 15px;
    font-size: 0.73125rem;
    padding-left: 3px;
  }
}

.input-date {
  &.fourth {
    /*margin: 0px 5px 0px 0px;*/
    width: 550px;
  }
  &.fifth {
    /*margin: 0px 5px 0px 0px;*/
    width: 520px;
  }
  &.sixth {
    /*margin: 0px 5px 0px 0px;*/
    width: 340px;
  }
  &.seventh {
    width: 650px;
  }
  &.eighth {
    width: 200px;
    margin: 0px;
  }
  &.nineth {
    width: 70px;
  }
}

.title-label {
  padding-left: 335px;
  &.label1 {
    padding-left: 370px;
  }
  &.label2 {
    padding-left: 532px;
  }
}

/*.second {*/
/*height: 32px;*/
/*width: 120px;*/
/*}*/

.small {
  display: inline;
  width: 55px;
  height: 32px;
  font-size: $text-size-sm;
}

.form-group input:checked ~ .color-checkbox:after {
  background-color: #F18D00;
  border-radius: 0.125rem;
}

.btn-custom {
  background-color: #004580;
  width: 88px;
  height: 32px;
  color: $white;
  margin-left: 460px;
  font-size: $btn-font-size;
  margin-bottom: 30px;
}

.btn-custom1 {
  background-color: #004580;
  width: 60px;
  height: 32px;
  color: $white;
  margin-left: 460px;
  font-size: $btn-font-size;
  margin-bottom: 30px;
}

.btn-custom2 {
  width: 100px;
  height: 32px;
  float: right;
  margin-top: 5px;
  margin-right: 4px;
}

.btn-custom3 {
  width: 100px;
  height: 32px;
  background-color: #7CBD45;
  margin-left: 15px;
  color: $white;
  font-size: $btn-font-size;
}

.title {
  font-size: 18px;
  color: $p-color;
  margin-top: 30px;
  &.first {
    margin-left: -7px;
  }
}

select {
  /*border: 1px solid #ccc;*/
  height: 26px;
  line-height: 18px;
  margin: 0;
  padding: 3px;
  background: transparent none no-repeat;
  cursor: pointer;
}

@media screen and (min-width: 0) {
  /* for relatively modern browsers including IE 8+ */
  select {
    border-radius: 4px;
    background-image: url("data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAaCAYAAACkVDyJAAAAlElEQVRIx+2VwQ3AIAhFwTiFi7KC7uYGHo1z0Et7MWkjaEiaQOJBDzy/wgdqrXwHWKyAiGAZDnSgHBhC+IfCUgqbKXxgGqhY4QyRQkUK35KLoK01iZd+xZKXRuEfbvdQPPGkAABEhMeLhohE5yfaAufk93791r13zQDmnLNqcOMYg1NKmoJgTRHtmDeaWZvPQweaAi8PXSmZJU3QRAAAAABJRU5ErkJggg==");
    background-position: -50px -50px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* for Webkit */
  select {
    -webkit-appearance: none;
    background-position: right center;
    padding: 3px 32px 3px 5px;
  }
}

@-moz-document url-prefix() {
  /* for Firefox */
  select {
    display: flex;
    border: 0;
    box-shadow: inset 0 0 1px $black;
    padding: 0;
    background-position: right center;
    padding-right: 16px;
    color: transparent;
    /* this shifts the text down a few pixels and removes the focus-ring */
    text-shadow: 0 4px 0 $black;
    text-indent: 2px;
    * {
      color: $black;
      text-shadow: none;
    }
  }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* for IE10+ */
  select {
    &::-ms-expand {
      display: none;
    }
    background-position: right center;
    padding-right: 30px;
  }
}

.p-content {
  color: $p-color;
  font-size: $text-size-sm;
}

.icon-remove i {
  font-size: 1.75rem;
  color: #3D7FB7;
  cursor: pointer;
  vertical-align: top;
}

.square {
  width: 20px;
  height: 20px;
  background-color: #FFEBFB;
  border: 1px solid #D7D7D7;
  border-radius: 2px;
  vertical-align: middle;
}

.square1 {
  background-color: #FFCD97;
}

.square2 {
  background-color: #E7EFD8;
}

.square3 {
  background-color: #E4CFF9;
}

.square4 {
  background-color: #FFF6A4;
}

.square5 {
  background-color: #FFBDC5;
}

.square6 {
  background-color: #DCDCDC;
}

.square7 {
  background-color: $white;
}

.square8 {
  background-color: #91B05F;
  margin: 5px 20px;
}

.square9 {
  background-color: #9466AF;
  margin: 5px 20px;
}

.label-input {
  margin: 0px 10px 0px 10px;
}

.icon-arrow {
  height: 32px;
  width: 32px;
  background-color: $white;
  border: 2px solid #CCCCCC;
  border-radius: 5px;
  display: inline;
  i {
    vertical-align: middle;
    margin: 5px 10px 5px 10px;
    color: $black;
    font-size: 1.5rem;
    /*display: inline;*/
  }
}

.line {
  border-collapse: separate;
  border-spacing: 1rem 0;
  width: 102%;
  color: #979797;
  display: table;
  font-size: .5rem;
  line-height: .25;
  margin: 1rem 0 1rem;
  table-layout: auto;
  /*text-align: center;*/
  /*text-shadow: .0625em .0625em 0 rgba(0, 0, 0, .2);*/
  white-space: nowrap;
  &:before, &:after {
    border-top: 3px double #979797;
    content: '';
    display: table-cell;
    width: 100%;
    border-top-style: dashed;
    margin-left: -20px;
  }
}

.right-table {
  background-color: #F8F8F8;
  width: 342px;
  height: 170px;
  border-radius: 5px;
}

.content2 {
  height: 40px;
}

.member {
  margin-top: 5px;
}

.information {
  margin: 10px 10px 0px -8px;
}

.avatar-person {
  display: flex;
  margin: 0px 10px -5px 10px;
  img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }
}

.remove-right {
  margin-left: 170px;
}

.row {
  margin-left: -11px;
}
